[include]
    path = ~/.gitconfig.local
[hub]
    protocol = https
[core]
    excludesfile = ~/.gitignore
    editor = nvim 
[pull]
	rebase = true
[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
